<script src="vendors/js/jquery-3.2.1.min.js">
</script>
<script src="vendors/js/bootstrap.min.js">
</script>
<script src="vendors/js/jquery.waypoints.min.js"></script>
<script src="js/main.js"></script>




</body>

</html>
