<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Link Bootstrap, Font Awesome, CSS, animate.css-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/vendors/css/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="/vendors/css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/vendors/css/animate.css">

  <link rel='stylesheet' type='text/css' href='/vendors/css/normalize.css'>
  <link rel="stylesheet" type="text/css" href="/vendors/css/grid.css">
  <link rel="stylesheet" type="text/css" href="/css/queries.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/contact.css">

  <title>James Chhun | Full Stack Web Developer </title>
</head>

<body>
