<% include partials/header.ejs %>
  <div id="particles-js">
    <header>
      <nav id="top-nav">
        <div class="row"><a href="#" class="brand-name">James Chhun</a>
          <!-- hamburger icon responsive --><a class="burger-nav" href="#"><i class = "fa fa-bars "></i></a>
          <ul>
            <li><a href="#" class="active">Home</a></li>
            <li> <a href="#section-expertise">About</a></li>
            <li><a href="#section-projects">Work</a></li>
            <li><a href="#section-contact">Contact</a></li>
          </ul>
        </div>
      </nav>
      <div class="header-row">
        <h1>Hi, I'm James I design &amp; build </h1>
        <h1> websites</h1> <a href="#section-contact" class="btn-cta">Contact Me</a> </div> <a href="#section-expertise" class="btn-scroll-about">Learn more about what I have to offer </a> </header>
  </div>
  <!-- particles.js -->
  <section id="section-expertise">
    <h2>My Expertise</h2>
    <p>I am well-versed in the web design and develop process.</p>
    <div class="row">
      <div class="col span-1-of-3"> <i class="fa fa-paint-brush"></i>
        <h3>UX/UI</h3>
        <p> I sketch and wireframe interfaces that focus on simple interactions and common UI patterns, also have a understanding of the values of color. </p>
      </div>
      <div class="col span-1-of-3"><i class="fa fa-desktop"></i>
        <h3>Responsive</h3>
        <p> I code websites that are responsive across common platforms such as desktop, tablet and multiple phone screens. I achieve this either by using responsive frameworks such as the Bootstrap-grid or using custom CSS3 media queries. </p>
      </div>
      <div class="col span-1-of-3"><i class="fa fa-code"></i>
        <h3>Code</h3>
        <p> I design and develop websites with languages such as HTML5, CSS3, and Javascript. I am well-versed in Front-end frameworks such as Bootstrap. I am also no stranger to developing websites with a back-end involving NodeJS, ExpressJS and MongoDB.
        </p>
      </div>
    </div>
  </section>
  <section id="section-projects">
    <!-- Section Projects Begin-->
    <h2>My Work</h2>
    <p class="under-head">Take a look at some of my work. Want to see more, email me at @capt.wing.chhun@gmail.com</p>
    <div class="row">
      <div class="col span-1-of-2">
        <a href="https://yelpcamp-deployed.herokuapp.com/" target="_blank"> <img src="img/Yelpcamp.png"> </a>
      </div>
      <div class="col span-1-of-2"><a class="project-title" href="https://yelpcamp-deployed.herokuapp.com/" target="_blank">YelpCamp</a>
        <p class="text-muted">Full-Stack Web App, Security, Database, RESTful, CRUD</p>
        <p>YelpCamp is a web application that allows users to view campgrounds other users have posted. YelpCamp requires users to sign up and be logged in before creating, editing, or commenting on posts.</p> <a href="https://yelpcamp-deployed.herokuapp.com/"
          target="_blank" class="btn-visit">Visit Website</a> </div>
      <!--span-1-of-3-->
    </div>
    <hr>
    <!-- Yelpcamps-->
    <div class="row">
      <div class="col span-1-of-2"> <a class="project-title" target="_blank" href="https://wingchhun.github.io/OneTree.github.io/">OneTree</a>
        <p class="text-muted">Landing Page, Responsive Design</p>
        <p>OneTree is a landing page created for a fictional company whose focus is to inform the user to care more about the environment by picking up trash and recycling. This website is supposed to act as an informative design, usingn a simple playout
          and color scheme as well as a combination of simple animations and call to action buttons. </p> <a href="https://wingchhun.github.io/OneTree.github.io/" target="_blank" class="btn-visit">Visit Website</a> </div>
      <div class="col span-1-of-2">
        <a href="https://wingchhun.github.io/OneTree.github.io/" target="_blank"> <img src="img/One-Tree.png"> </a>
      </div>
      <!--span-1-of-3-->
    </div>
    <hr> </section>
  <!--section parallax end -->
  <section id="section-personal-projects">
    <h2>Personal Projects</h2>
    <p class="under-head">In my free time I create web applications, landing pages, and websites to practice my craft. Feel free to take a look.</p>
    <div class="row">
      <div class="col span-1-of-2">
        <a href="https://wingchhun.github.io/JamesBlog.github.io/" target="_blank"> <img src="img/land-blog2.png"> </a> <a class="project-title" href="https://yelpcamp-deployed.herokuapp.com/" target="_blank">Portfolio_v1</a>
        <p class="text-muted">UI/UX, Web Design, Landing Page, Responsive</p>
        <p>Portfolio_v1 was my first attempt at creating a personal portfolio page for myself. It was supposed to act as a blog as well but I did not know how to create a back-end at the time.</p>
      </div>
      <div class="col span-1-of-2">
        <a href="https://wingchhun.github.io/PSDtoHTML.github.io/psd.html" target="_blank"> <img src="img/land-PSD.png"> </a> <a class="project-title" href="https://yelpcamp- deployed.herokuapp.com/" target="_blank">mobileApp Landing page</a>
        <p class="text-muted">PSD to HTML, Landing Page, Not-Responsive</p>
        <p>mobileApp is a fictional company. This website is a landing page at the first PSD to HTML conversion I ever did, goal was to practice HTML and CSS.</p>
      </div>
    </div>
    <div class="row">
      <div class="col span-1-of-2">
        <a href="https://wingchhun.github.io/PSDtoHTML.github.io/cuda.html" target="_blank"> <img src="img/land-cuda.png"> </a> <a class="project-title" href="https://yelpcamp-deployed.herokuapp.com/" target="_blank">Cuda Landing page</a>
        <p class="text-muted">PSD to HTML, Landing Page, Not-Responsive</p>
        <p>This is a landing page for a fictional company named Cuda, goal at the time was to practice HTML and CSS from PSDs, only meant to be viewed on desktops.</p>
      </div>
      <div class="col span-1-of-2">
        <a href="https://wingchhun.github.io/PSDtoHTML.github.io/Elena/elena.html" target="_blank"> <img src="img/land-elena.png"> </a> <a class="project-title" href="https://yelpcamp-deployed.herokuapp.com/" target="_blank">Elena Landing page</a>
        <p class="text-muted">PSD to HTML, Landing Page, Not-Responsive</p>
        <p>This is a landing page for a fictional company named Elena, goal at the time was to practice HTML and CSS from PSDs, only meant to be viewed on desktops.</p>
      </div>
    </div>
  </section>
  <!-- End of personal-projects -->
  <section id="section-contact">
    <div class="row">
      <div class="col-span-2-of-3">
        <h2>Want to get in touch?</h2>
        <p>Interested in getting in touch with me? I am currently looking for work experience as a part-time intern or freelance work, please take a few minutes to tell me about your project and how I can contribute. </p>
        <a class="contact-btn" href="/contact">Get Started</a> </div>
    </div>
  </section>
  <!-- section-contact-->
  <footer>
    <div class="row ">
      <div class="col span-8-of-8 ">
        <ul class="social-links ">
          <li> <a href="https://www.facebook.com/james.chhun.3 " target="_blank "><i class="fa fa-facebook-square fa-2x "></i></a> </li>
          <li><a href="https://codepen.io/WingChhun/ " target="_blank "><i class="fa fa-codepen fa-2x "></i></a></li>
          <li><a href="http://gramlove.co/user.php?id=1309364807&name=wingchhun " target="_blank "><i class="fa fa-instagram fa-2x "></i></a></li>
          <li><a href="https://www.linkedin.com/in/james-chhun-16b1b5120/ " target="_blank "><i class="fa fa-linkedin-square fa-2x "></i></a></li>
          <li><a href="https://github.com/WingChhun "><i target="_blank "class="fa fa-github-square fa-2x "></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row ">
      <div class="col span-3-of-3 ">
        <p class="copyright ">Copyright &copy; James Chhun 2017 </p>
      </div>
    </div>
    <div class="row arrow-btn "> <a href="#top-nav "><i class="fa fa-3x fa-chevron-circle-up "></i></a> </div>
  </footer>
  <% include partials/footer.ejs%>
