#section-form {
  text-align: center;
  background-size: cover;
  margin: 0 auto;
  background-color: #3f4d52;
  padding: 130px 5px;
  display: block;
}

a {
  text-decoration: none;
}

#section-form .fa-times-circle {
  float: right;
  color: black;
  text-decoration: none;
}

#section-form .fa-times-circle:hover {
  color: #10DBDA;
  font-size: 2rem;
  text-decoration: none;
}

#section-form .row, .row2 {
  max-width: 900px;
  margin: 0 auto;
}

.row2 {
  padding-bottom: 20px;
}

#section-form h2 {
  padding-top: 35px;
  display: block;
  color: white;
  font-weight: 700;
  letter-spacing: -.01rem;
  padding-bottom: 10px;
}

#section-form p {
  padding: 5px 10px;
  color: white;
}

form {
  padding: 20px 10px;
  max-width: 700px;
  margin: 0 auto;
  font-size: 16px;
}

input {
  margin: 7px 0;
  padding: 10px;
  border: 2px solid #10DBDA;
  ;
  background-color: #3f4d52;
}

textarea {
  background-color: #3f4d52;
  border: 2px solid #10DBDA;
  ;
  color: white;
  padding: 10px;
  margin-top: 20px;
  width: 85%;
}

.notification {
  color: gray;
  font-size: 14px;
  padding: 0;
  margin-top: -10px;
}

input[type=text] {
  color: white;
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid #9ff0f0;
  ;
}

input[type=submit] {
  margin-top: 1.2rem;
  padding: 0.5rem;
  width: 120px;
  text-transform: uppercase;
  color: #10DBDA;
  ;
  border-radius: 50px;
  border-color: #10DBDA;
  transition: background-color 0.5s, border-color 0.5s, color 0.5s;
}

input[type=submit]:hover {
  color: black;
  border-color: black;
  background-color: #10DBDA;
}

.alert {
  padding: 25px 0;
}

.alert-success {
  color: #6BB4C4;
  background-color: #DFF0D8;
}

.alert-danger {
  color: #B25247;
  background-color: #F2DEDE;
}

@media screen and (max-width:900px) {
  #section-form {
    padding: 45px 5px;
  }
}

@media screen and (max-width:640px) {
  #section-form .fa-times-circle {
    float: right;
    color: black;
    font-size: 200%;
    text-decoration: none;
  }
  #section-form {
    padding: 25px 5px;
  }
  #section-form .fa-times-circle:hover {
    color: #10DBDA;
    font-size: 200%;
    text-decoration: none;
  }
  #section-form .row, .row2 {
    max-width: 640px;
    margin: 0 auto;
  }
  .row2 {
    padding-right: 5px;
  }
  #section-form h2 {
    padding-top: 20px;
    display: block;
    color: white;
    font-weight: 700;
    font-size: 140%;
    letter-spacing: -.01rem;
    padding-bottom: 10px;
  }
}

@media screen and (max-width:500px) {
  #section-form .span-1-of-2 {
    width: 47.5%;
  }
  #section-form {
    padding: 25px 5px;
    overflow-x: hidden;
    text-align: center;
  }
  textarea {
    width: 95%;
  }
}
